---
services:
  cbz_tagger:
    build: .
    ports:
      - 8080:8080  # NiceGUI frontend
      - 8000:8000  # FastAPI backend
    environment:
      - TIMER_MODE=true
      - TIMER_DELAY=60
      - GUI_MODE=true
      - LOG_LEVEL=INFO
    volumes:
      - ~/Downloads/cbz_tagger/config:/config
      - ~/Downloads/cbz_tagger/scan:/scan
      - ~/Downloads/cbz_tagger/storage:/storage
