---
services:
  cbz_tagger:
    build: .
    ports:
      - 8080:8080  # NiceGUI frontend
      - 8000:8000  # FastAPI backend
    environment: [TIMER_DELAY=600, LOG_LEVEL=INFO]
    volumes:
      - ~/Downloads/cbz_tagger/config:/config
      - ~/Downloads/cbz_tagger/scan:/scan
      - ~/Downloads/cbz_tagger/storage:/storage
